services:
  grafana:
    image: grafana/grafana:latest
    volumes:
      - ../grafana/grafana-data:/var/lib/grafana
      - ../grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    profiles: [monitoring, metrics]

volumes:
  grafana-data:
