services:
  metrics:
    image: peer-observer-tools
    build:
      context: ../
      dockerfile: docker/peer-observer-tools.dockerfile
    command:
      ["/home/appuser/metrics", "--nats-address", "nats://nats:4222", "--metrics-address", "0.0.0.0:8001"]
    ports:
      - "8001:8001"
    depends_on:
      nats:
        condition: service_healthy
    profiles: [monitoring, metrics]
